.header{
    background:#3b5998 ;
    width:100%;
    height:300px;
}
body{
    margin: 0px;
     font-family:Arial, Helvetica, sans-serif;

}
.logo{
    width:50%;
    padding-top:60px;
    float: left;
}
.login{
    width:50%;
    float: left;
}
.logo-text{
    color:aliceblue;
    font-size: 100px;
    font-weight: bold;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:370px; 
    margin-top: 100px;
    
    

}
.login-label{
    color: white;
    font-size:30px;
}
.login-controls{
     
    padding-left:10px;
  padding-top: 90px;

  
    .login{
        padding-left:10px;

    }
    
}
.forgotten{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    color: #9cb4d8;
    margin-bottom: 116px;

}
.sub-button{
    background-color: #4267b2;
    color:#fff;
    height: 70px;
    border-color:#29487d;
    cursor:pointer;
    width:100px;
    height:50px
}
.sub-button:hover{
    background-color:slategray;

}
.left-section{
    width:50%;
    float:left;
    padding-left:134px;
    padding-top:52px;
}
.right-section{
    width:50%;
    float:left;
}
.main-body{
    background:linear-gradient(white,#D3D8E8) ;
    width:100%;
    height:2200px;
    
}
.image{
    width: 2000px;
    height: 600px;
    margin-left: 100px;
    
    margin-top:100px ;
    
    
}
.para{
    font-weight: bold; 
    font-size:60px ;
    margin-top: 100px;
    margin-left: 100px;
}

.h2{
  font-size: 1000px;

}
.gender-box{
  font-size: 30px;


}

label {
    font-size: 35px;
}


.signup-btn {
  width: 10%;
  background-color: #42b72a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

.signup-btn:hover {
  background-color: #36a420;
}

.terms {
  font-size: 12px;
  margin: 10px;
  color: #555;
}

.create-page {
  text-align: center;
  margin-top: 100px;
  margin-left: 600px;
}

a {
  color: #1877f2;
  text-decoration: none;
}

.login-controls input[type="text"],
.login-controls input[type="password"]{
  width:300px;
  height:35px;
  padding:5px;
  margin:5px;
  font-size:14px;

}



.input-box input,
.name-box input {
  width: 400px;    
  height: 45px;     
  padding: 7px;
  margin: 5px 0;
  font-size: 17px;
}


.birthday-box select {
  width: 120px;
  height: 80px;
  font-size: 20px;
}
.input-box input, .name-box input {
    width: 800px;
    height: 100px;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
}
