* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.title{
    background-color: #111;
    color:white;
    text-align: center;
    
    
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 20px 50px;
  
}

.logo {
  color: white;
  font-size: 70px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  padding-right: 2000px;
  padding-top:100px ;
  padding-right: 2000px;
  margin-right: 2000px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  
}

.nav-links a:hover {
  text-decoration: underline;
}

.banner {
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  letter-spacing: 1px;
}


.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding: 10px;
  justify-items: center;
}

.product{  
  text-align: center;
}

.product img {
  width: 1000000px;
  max-width: 1700px;
  border-radius: 10px;
  display: block;
}

.product h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.product p {
  color: #777;
  font-size: 14px;
}
.person{
    width:300px;
}
h2 {
  font-family: Arial, sans-serif;
  font-size: 90px;
  color: #333333;
  margin-bottom: 10px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: #666666;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  background-color: #2c3e50;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 60px;
}

